ul {
    margin-left: 0;
}

li {
    list-style-type: none;
    margin: 5px 0 5px 0;
}

p {
    margin-bottom: 0;
    padding-left: 7px;
    font-size: 14px;
}

.name {
    font-size: 15px;
    border-bottom: 1px solid rgba(10, 10, 10, 0.25);
}

.added {
    border-left: 3px solid #45f442 !important;
}

.removed {
    border-left: 3px solid #f44b42 !important;
}

.changed {
    border-left: 3px solid #4277f4;
}

.unchanged {
    padding-left: 0px;
}

li > .callout {
    margin-left: 12px;   
}

.array-el {
    position: relative;
    border-left: 1px solid rgba(10, 10, 10, 0.25);
}

.array-el:before {
      content : "";
      position: absolute;
      left    : 0;
      bottom  : 0;
      height  : 1px;
      width   : 20%;  /* or 100px */
      border-bottom: 1px solid rgba(10, 10, 10, 0.25);
}

.element-definition {
    font-size : 14px;
}

/* copied from
http://cssdeck.com/labs/pure-css-tree-menu-framework
*/

/**
 * Framework starts from here ...
 * ------------------------------
 */

.tree,
.tree ul {
  margin:0 0 0 1em; /* indentation */
  padding:0;
  list-style:none;
  position:relative;
}

.tree ul {margin-left:.5em} /* (indentation/2) */

.tree:before,
.tree ul:before {
  content:"";
  display:block;
  width:0;
  position:absolute;
  top:0;
  bottom:0;
  left:0;
  border-left:1px solid;
}

.tree li {
  margin:0;
  padding:0 1.5em; /* indentation + .5em */
  line-height:2em; /* default list item's `line-height` */
  position:relative;
}

.tree li:before {
  content:"";
  display:block;
  width:10px; /* same with indentation */
  height:0;
  border-top:1px solid;
  margin-top:-1px; /* border top width */
  position:absolute;
  top:1em; /* (line-height/2) */
  left:0;
}

.tree li:last-child:before {
  background:white; /* same with body background */
  height:auto;
  top:1em; /* (line-height/2) */
  bottom:0;
}